/* Tamaños */
$wrapper: 90%;
$mediumWrapper: 1040px;
$maxWrapper: 1400px;
$wrapperAir: 20px;
$spacing: 2em;
$border: 8px;
$footerHeight: 20px;

/* Fuentes */
$fontSize: 0.9em;
$font: 'Lato', Lucida Grande, Lucida Sans, Helvetica, Verdana, sans-serif;

/* Colores */
$bgColorTop: #091b59;
$bgColor: #0b3a80;
$ps: #053074;
$headerBg: #111;
$psDark: #333;
$psLight: #6cafe0;
$colorSelection: #fff;
$color: #222;
$linkColor: #2865b0;
$hoverColor: #ae171a;

/* Varios */
$shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
$itemShadow: 0 0 5px rgba(0, 0, 0, 0.9);