<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /nuevapartida/index.php [L]
</IfModule>
php_flag zlib.output_compression On 
php_value zlib.output_compression_level 2